
.box{                  /* the container*/
 position: relative;
 height: 200px;
 width: 90%;   
 margin: 5%;
 display: flex;
 flex-direction: row;
 box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
 z-index: 1;
 border: 2px solid;
 border-radius: 20px;
 transition: border-color 0.5s ease-out;
 max-width: 100%;
}
.box::after{         /*background of the container*/
content: '';
position: absolute;
inset: 0; 
z-index: -1;   
background-image: url('../imgs/wsmu.jpg');
opacity: 0.1; 
background-size: contain;
}
.box:hover{
   border-color: red;
}
.box-content{           /* the whole contents of the box*/
    margin-left: 5%;
    margin-top: 2%;
}
.text-content{         /* just the text of the container except the sdg goals*/
    font-size: larger;
}

.SDG-goals-content{   /* this is for the sdg goals to flex*/
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.box-content{       /* the contents of the box to have color*/
    color: crimson;
}

.clickable-text{   /* animtation and text for navigation to the next page*/
    color: crimson;
    font-size: 30px;
    transition: 0.5 ease-in-out;
    text-decoration: none;
    position: relative;
}
.clickable-text::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color:crimson;
    transition: width 0.4s ease-in-out;
}
.clickable-text:hover::after{   
    text-decoration: underline;
    width: 100%;
}
/* here onwards is the announcements-content.php */

.container{         /*container of the whole thing*/
    position: relative;
    height: 1000px;
    width: 90%;   
    margin: 5%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.content-title{    /*text at the beginning*/
    padding: 40px;
}
.title{           /* the title of the article*/
    font-size: 65px;
}

.announcement-pic{   /* the picture*/
    width: 1000px;
    height: 500px;
    background-repeat: no-repeat;
    background-image: url('../img/bomb-threats.jpg');
    background-size: contain;
    background-position: center center;

}
.description-card{
    margin-top: 30px;
}

.arrow {           /* arrow for going back*/
    color: crimson;
    transition: color 0.3s;
    font-size: 20px;
  }
  
  .arrow:hover {
    color: rgb(0, 0, 0); /* Change color on hover */
  }
/* Responsiveness starts here */
@media(max-width: 480px){   /* The announcement page responsiveness starts here */
 .box{
   width: 95%;
   color: blue;
   height: 150px;
 }
.section-title.archives{
    font-size:0.8rem;
    width: 100%;
}
.clickable-text{
    font-size: 20px;
}
}
/* The announcement page content responsiveness starts here */

@media (max-width:1500px) { /* Tablet View and laptop view */
    .announcement-pic{
        width: auto;
    }
    .title{
        font-size: 40px;
    }
} 
@media(max-width:800px) {
    .title{
        font-size:20px;
    }
    .page-section.article{
    }
}
 @media (max-width:500px){
    .page-section.article{
        width: 100%;
    }
}

