.lateef-extralight {
    font-family: "Lateef", serif;
    font-weight: 200;
    font-style: normal;
}
  
.lateef-light {
    font-family: "Lateef", serif;
    font-weight: 300;
    font-style: normal;
}
  
.lateef-regular {
    font-family: "Lateef", serif;
    font-weight: 400;
    font-style: normal;
}
  
.lateef-medium {
    font-family: "Lateef", serif;
    font-weight: 500;
    font-style: normal;
}
  
.lateef-semibold {
    font-family: "Lateef", serif;
    font-weight: 600;
    font-style: normal;
}
  
.lateef-bold {
    font-family: "Lateef", serif;
    font-weight: 700;
    font-style: normal;
}
  
.lateef-extrabold {
    font-family: "Lateef", serif;
    font-weight: 800;
    font-style: normal;
}

.montserrat-extralight {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}  

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.montserrat-extrabold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-extralight {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.inter-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-black {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}