
*{
    padding: 0;
    margin: 0;
    font-family: inter !important;
}


a{
    text-decoration: none; /* Remove underline */
    color: black;
}

ul li {
    text-decoration: none; /* Remove underline */
    color: black;         /* Set text color to black */
    list-style: none;     /* Remove bullet points */
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white; /* Text color */
    
    /* Font size */
    /* font-size: 16px;  */
    transition: background-color 0.3s;
}


.wrapper {
    width: 100%;
    height: 100%;
}

:root{
    --brand-color: #BC0E03;
    --secondary-color: #7E0804;

    --logo-text-font-size: 16px;
    --topbar-height: 100px;

    /* --body-color-background-color: #FAFAFA; */
    --body-color-background-color: red;

    --sdg-filter-width: 140px;
    --sdg-filter-height: 140px;

    --page-margin-width: 120px;
    --hero-banner-height: 420px;
    --img-card-b-width: 580px;
    --img-card-b-height: 387px;

    --img-card-s-width: 277px;
    --img-card-s-height: 208px;
    --description-2-h2-font-size: 16px;
    --description-1-h2-font-size: 18px;
    --description-h2-font-weight: 600;
    /* --img-card-s-width: 285px;
    --img-card-s-height: 190px; */

    --sidebar-width: 260px;
    --sidebar-text-font-size: 16px; 
    --sidebar-text-font-weight: 500;
    --sidebar-menu-item-color: #8391a2;
    --sidebar-menu-hover-color: #bccee4;
    --sidebar-menu-active-color: #fff;
    
    --btn-color: #000000;
    --btn-border-color:#000000;
    --btn-font-size: 0.875rem;
    --btn-padding-y: 0.25rem;
    --btn-padding-x: 0.5rem;
    --btn-border-radius-sm: 0.25rem;
    --btn-inactive-background-color: #fff;
    --btn-hover-background-color: #a1a9b1;
    
    --og-sdg-list-height: 300px;
    --sdg-list-height: var(--og-sdg-list-height);

    --og-important-certificates-height: 240px;
    --important-certificates-height: var(--og-important-certificates-height);
    /* sdg-color */
    --sdg-1-background-color: #EB1C2D;
    --sdg-2-background-color: #D3A029;
    --sdg-3-background-color: #279B48;
    --sdg-4-background-color: #C31F33;
    --sdg-5-background-color: #EF402B;
    --sdg-6-background-color: #00AED9;
    --sdg-7-background-color: #FDB713;
    --sdg-8-background-color: #8F1838;
    --sdg-9-background-color: #F36D25;
    --sdg-10-background-color: #E11484;
    --sdg-11-background-color: #F99D26;
    --sdg-12-background-color: #CF8D2A;
    --sdg-13-background-color: #48773E;
    --sdg-14-background-color: #007DBC;
    --sdg-15-background-color: #3EB049;
    --sdg-16-background-color: #02558B;
    --sdg-17-background-color: #183668;
    --sdg-goals-background-color: #f4f4f4;

    --sdg-1-hover-background-color: #BF1622; 
    --sdg-2-hover-background-color: #B18C24; 
    --sdg-3-hover-background-color: #207A3C; 
    --sdg-4-hover-background-color: #A0172A; 
    --sdg-5-hover-background-color: #C93724; 
    --sdg-6-hover-background-color: #0093B7; 
    --sdg-7-hover-background-color: #D09E0F; 
    --sdg-8-hover-background-color: #7A142F; 
    --sdg-9-hover-background-color: #D66120;
    --sdg-10-hover-background-color: #C50E6B; 
    --sdg-11-hover-background-color: #D68B21; 
    --sdg-12-hover-background-color: #B57B25; 
    --sdg-13-hover-background-color: #3D6132; 
    --sdg-14-hover-background-color: #0069A3; 
    --sdg-15-hover-background-color: #35A345; 
    --sdg-16-hover-background-color: #014A76; 
    --sdg-17-hover-background-color: #152B54;

    --og-sdg-1-text-width: 68px;
    --og-sdg-1-icon-width: 95px;
    
    --og-sdg-2-text-width: 66px;
    --og-sdg-2-icon-width: 69px;
    
    --og-sdg-3-text-width: 107px;
    --og-sdg-3-icon-width: 90px;

    --og-sdg-4-text-width: 78px;
    --og-sdg-4-icon-width: 68px;

    --og-sdg-5-text-width: 70px;
    --og-sdg-5-icon-width: 47.5px;
    
    --og-sdg-6-text-width: 104px;
    --og-sdg-6-icon-width: 45px;

    --og-sdg-7-text-width: 106px;
    --og-sdg-7-icon-width: 76px;

    --og-sdg-8-text-width: 120px;
    --og-sdg-8-icon-width: 60px;

    --og-sdg-9-text-width: 118px;
    --og-sdg-9-icon-width: 65px;
    
    --og-sdg-10-text-width: 101px;
    --og-sdg-10-icon-width: 68px;
    
    --og-sdg-11-text-width: 125px;
    --og-sdg-11-icon-width: 82px;
        
    --og-sdg-12-text-width: 119px;
    --og-sdg-12-icon-width: 81px;
        
    --og-sdg-13-text-width: 74px;
    --og-sdg-13-icon-width: 94px;
        
    --og-sdg-14-text-width: 104px;
    --og-sdg-14-icon-width: 70px;
        
    --og-sdg-15-text-width: 79px;
    --og-sdg-15-icon-width: 63px;
    
    --og-sdg-16-text-width: 105px;
    --og-sdg-16-icon-width: 61.5px;
    
    --og-sdg-17-text-width: 106px;
    --og-sdg-17-icon-width: 64px;

    --og-sdg-goals-text-width: 122px;
    --og-sdg-goals-icon-width: 124px;

    --og-sdg-text-2-line-text-height: 38px;
    --og-sdg-text-3-line-text-height: 42px;

    --sdg-1-text-width: var(--og-sdg-1-text-width);
    --sdg-1-text-height: 38px;
    --sdg-1-icon-width: var(--og-sdg-1-icon-width);
    --sdg-1-icon-height: 41px;

    --sdg-2-text-width: var(--og-sdg-2-text-width);
    --sdg-2-text-height: 38px;
    --sdg-2-icon-width: var(--og-sdg-2-text-width);
    --sdg-2-icon-height: 58px;
    
    --sdg-3-text-width: var(--og-sdg-3-text-width);
    --sdg-3-text-height: 38px;
    --sdg-3-icon-width: var(--og-sdg-3-icon-width);
    --sdg-3-icon-height: 60px;

    --sdg-4-text-width: var(--og-sdg-4-text-width);
    --sdg-4-text-height: 38px;
    --sdg-4-icon-width: var(--og-sdg-4-icon-width);
    --sdg-4-icon-height: 55px;

    --sdg-5-text-width: var(--og-sdg-5-text-width);
    --sdg-5-text-height: 38px ;
    --sdg-5-icon-width: var(--og-sdg-5-icon-width);
    --sdg-5-icon-height: 63.5px;

    --sdg-6-text-width: var(--og-sdg-6-text-width);
    --sdg-6-text-height: 38px;
    --sdg-6-icon-width:var(--og-sdg-6-icon-width);
    --sdg-6-icon-height: 61px;

    --sdg-7-text-width: var(--og-sdg-7-text-width);
    --sdg-7-text-height: 38px;
    --sdg-7-icon-width:var(--og-sdg-7-icon-width);
    --sdg-7-icon-height: 76px;

    --sdg-8-text-width: var(--og-sdg-8-text-width);
    --sdg-8-text-height: 38px;
    --sdg-8-icon-width:var(--og-sdg-8-icon-width);
    --sdg-8-icon-height: 65.5px;
    
    --sdg-9-text-width:  var(--og-sdg-9-text-width);
    --sdg-9-text-height: 38px;
    --sdg-9-icon-width: var(--og-sdg-9-icon-width);
    --sdg-9-icon-height: 65.5px;

    --sdg-10-text-width: var(--og-sdg-10-text-width);
    --sdg-10-text-height: 38px;
    --sdg-10-icon-width:var(--og-sdg-10-icon-width);
    --sdg-10-icon-height: 67px;

    --sdg-11-text-width: var(--og-sdg-11-text-width);
    --sdg-11-text-height: 38px;
    --sdg-11-icon-width: var(--og-sdg-11-icon-width);
    --sdg-11-icon-height: 60px;

    --sdg-12-text-width: var(--og-sdg-12-text-width);
    --sdg-12-text-height: 42px;
    --sdg-12-icon-width: var(--og-sdg-12-icon-width);
    --sdg-12-icon-height: 41px;

    --sdg-13-text-width: var(--og-sdg-13-text-width);
    --sdg-13-text-height: 38px;
    --sdg-13-icon-width: var(--og-sdg-13-icon-width);
    --sdg-13-icon-height: 49px;

    --sdg-14-text-width: var(--og-sdg-14-text-width);
    --sdg-14-text-height: 38px;
    --sdg-14-icon-width: var(--og-sdg-14-icon-width);
    --sdg-14-icon-height: 60px;

    --sdg-15-text-width: var(--og-sdg-15-text-width);
    --sdg-15-text-height: 38px;
    --sdg-15-icon-width: var(--og-sdg-15-icon-width);
    --sdg-15-icon-height: 62px;

    --sdg-16-text-width: var(--og-sdg-16-text-width);
    --sdg-16-text-height: 42px;
    --sdg-16-icon-width: var(--og-sdg-16-icon-width);
    --sdg-16-icon-height: 57px;

    --sdg-17-text-width: var(--og-sdg-17-text-width);
    --sdg-17-text-height: 38px;
    --sdg-17-icon-width: var(--og-sdg-17-icon-width);
    --sdg-17-icon-height: 62.5px;
    
    --sdg-goals-text-width: var(--og-sdg-goals-text-width);
    --sdg-goals-text-height: 38px;
    --sdg-goals-icon-width: var(--og-sdg-goals-icon-width);
    --sdg-goals-icon-height: 34px;
    
    --sdg-text-h1-font-size: 32px;
    --sdg-text-h2-font-size: 16px;
}

:root{
    /* FOR ARCHIVES */
    --archives-page-section-flex-direction: row;
    --archives-page-section-justify-content: space-between;
    --archive-vector-width: 460px;
    --archive-vector-height: 195px;
    --month-list-width: 634px;
}

.wmsu-logo{
    display: flex;
    flex-direction: row;

}

.logo-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    
}


.logo-text{
    font-size: var(--logo-text-font-size);
    text-decoration: none;
    color:var(--brand-color);
    font-weight: bold;

    text-align: center;
}

.container-fluid {
    width: 100%; /* Full width */
    padding-right: 15px; /* Default Bootstrap padding */
    padding-left: 15px; /* Default Bootstrap padding */
    margin-right: auto; /* Center alignment */
    margin-left: auto; /* Center alignment */
}

.d-flex {
    display: flex; /* Enable Flexbox */
    align-items: center; /* Vertically centers the text */
}

.justify-content-center{
    justify-content: center; 
}
.justify-content-between {
    justify-content: space-between; /* Space between items */
}

.justify-content-start{
    justify-content: flex-start;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075); /* Small shadow effect */
}

.navbar-custom{
    padding: 15px 0;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    align-items: center;
    background-color: #fff;

}

.navbar-custom header {
    height: var(--topbar-height)!important;
    padding: 20px 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.flex-column {
    flex-direction: column;   /* Stack children vertically */
}

.flex-row {
    flex-direction: row;   /* Stack children vertically */
}

.flex-shrink-0 {
    flex-shrink: 0;          /* Prevent the item from shrinking */
}

.nav-pills {
    display: flex;                  /* Make the container a flexbox */
    flex-direction: column;         /* Stack children vertically */
    list-style-type: none;          /* Remove default list styling */
    padding: 0;                     /* Remove default padding */
    margin: 0;                      /* Remove default margin */
}

.nav-pills .nav-link {
    padding: 0.5rem 1rem;          /* Add padding to links */
    text-decoration: none;          /* Remove underline from links */
    color: #007bff;                 /* Default link color */
}

.nav-pills .nav-link.active {
    background-color: #007bff;     /* Active link background */
    color: white;                   /* Active link text color */
}

.nav-item {
    display: inline-block; /* Align items in a row */
    padding: 10px 15px; /* Spacing around text */
    color: white; /* White text color */
    text-decoration: none; /* Remove underline from links */
    transition: background-color 0.3s; /* Smooth transition */
}

/* Hover effect for nav items */
.nav-item:hover {
    background-color: #00a6ff; /* Change background on hover */
}

/* Optional active state */
.nav-item.active {
    background-color: #007acc; /* Darker variant for active item */
}

.mb-auto {
    margin-bottom: auto;            /* Automatically adjust bottom margin */
}

.px-3 {
    padding-left: 1rem;  /* Horizontal padding on the left */
    padding-right: 1rem; /* Horizontal padding on the right */
}

.sidebar{
    display: flex;
    z-index: 1000;
    left: 0;
    position: fixed;
    min-height: 100vh;
    width: var(--sidebar-width);
    background-color: var(--brand-color);
    transition: width 0.3s ease; 
    transition: all 0.35 ease-in-out;
}

/* .side-nav-title {
    color: var(--sidebar-menu-item-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 10px 10px;
} */

.content-page{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--body-color);
    min-height: calc(100vh - var(--topbar-height));
    justify-content: center;
}
.page-body{
    background-color: #fafafa;
}


.page-margin{
    display: flex;
    flex-direction: column;
    margin: 0 var(--page-margin-width);       /* Apply padding */
    box-sizing: border-box; /* Include padding in width calculation */
    gap: 40px;
    overflow-x: hidden;
    position: relative;
}

.page-margin.article{
    background-color: #fafafa;
    margin: 0 calc(var(--page-margin-width) + 60px);
}

.hero-banner{
    display: block;
    width: 100%;
    height: var(--hero-banner-height);
    background-size: cover;    
    /* justify-content: space-between; */
    /* contentview */
    /* background-color: #00a6ff; */
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
}


.hero-banner.news-article{ /* NEWS-ARTICLE PAGE */
    background-image: url("../img/hero-banner/news-articles.png");
}

.hero-banner.archives{ /* NEWS-ARTICLE PAGE */
    background-image: url("../img/hero-banner/archives.png");
}


.page-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin: 21px 0px;
    padding: 0px 18px;
    /* background-color: white; */
}

.hero-title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin: 21px 0px;
    padding: 0;
    /* background-color: white; */
}

.hero-logo{
    display: flex;
    right: 50px;
}


.hero-header-text{
    font-size: 38px;
}

.content{
    display: flex;
    padding: 0px 18px;
}


.page-section{
    /* width: 100%; */
    width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
    margin-top: 40px;
    gap: 80px;
    justify-content: center;
    position: relative;
}.page-section.news{
    /* contentview */
    flex-direction: row;
    /* background-color:rgb(250, 184, 250); */

}.page-section.articles{
    /* contentview */
    flex-direction: column;
    gap: 10px;
    /* background-color:lightgreen; */
}.page-section.article{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    flex-direction: column;
    padding: 40px;
    gap: 20px;

}.page-section.sdg{
    /* contentview */
    flex-direction: column;
    gap: 10px;
    /* background-color:rgb(179, 214, 255); */
    /* background-color:#9E2828; */
    background-color: #002147;

}.page-section.info{
    margin-top: 0px;
    padding-top: 40px;
    /* margin-bottom: 40px; */
    background-color:#9E2828;

    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
}


.button {
    display: inline-block; /* Allow width and height to be applied */
    padding: 10px 20px; /* Vertical and horizontal padding */
    background-color: #007bff; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    text-align: center; /* Center align text */
    text-decoration: none; /* Remove underline for links */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s, transform 0.1s; /* Smooth transitions */
}

.button:hover {
    background-color: #0056b3; /* Darker background on hover */
}

.button:active {
    transform: scale(0.95); /* Slightly shrink on click */
}


/* ARCHIVES */
.page-section.archives{
    flex-direction: var(--archives-page-section-flex-direction);
    align-items: center;
    justify-content: var(--archives-page-section-justify-content);
    /* background-color:lightgreen; */
    gap: 20px;
    margin-bottom: 80px;
    align-items: flex-start;
}

.section-title.archives{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    background-color: var(--secondary-color);
    padding: 15px 0;
    align-items: center;
}.section-title.archives > h2, 
.section-title.archives > div{
    margin: 0 var(--page-margin-width);
}

.button.archives{
    background-color: white;
    color: #7E0804;
    font-size: 2rem;
}
.button.archives{

}


.month-list{
    width: var(--month-list-width);
    display: flex;
    flex-direction: column;
    gap: 20px;
}.month-list a .month{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 20px;
    justify-content: space-between;
    background-image: url("../img/month/bckg2024.png");
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;

}.month-list a .month:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}.month-list a .month:hover .vector{
    transform: scaleX(.75);
    transform-origin: right;
    transition: 0.3s ease;
}.month-list a .month:hover .description-card h2{
    transform: scale(1.5);
    transform-origin: left;
    transition: 0.3s ease;

}


/* .month-list .month:hover img{
    transform: scaleX(.75);
    transform-origin: right;
    transition: 0.3s ease;
}   */

.month-list .month:hover .description-card{
    opacity: 1;
    /* padding-left: 20%; */
    transform-origin: left;
    transition: 0.3s ease;
}

.month .description-card h2{
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s ease;

}
.month .vector{
    border-radius: 100px 0 0 100px;
    display: flex;
    width: var(--archive-vector-width);
    height: var(--archive-vector-height);
    justify-content: right;
    position: relative;

    background-color: rgba(126, 8, 4, 0.75);
    transition: 0.3s ease;
    will-change: transform;
    overflow: hidden; 
}


.month .vector img {
    width: 100%; 
    height: auto; 
    /* object-fit: cover;  */
    position: absolute; 

    /* will-change: transform; */
    z-index: 1;
}

.month .overlay {
    position: absolute; /* Absolute position to cover the image */
    top: 0; /* Align with the top */
    left: 0; /* Align with the left */
    width: 100%; /* Cover full width of parent */
    height: 100%; /* Cover full height of parent */
    background-color: rgba(126, 8, 4, 0.85); /* Semi-transparent background */
    z-index: 2; /* Ensure overlay is above the image */
}
/* ---END ARCHIVES */



.recent-news{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.divider.news{
    display: none;
}

.header-card{
    display: flex;
    width: 100%;
    height: auto;
}.header-card h1{
    font-weight: 600;
}

.body-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}.body-card.news{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.556);
    background-color: white;
    /* border: 1px solid red; */    
    border-radius: 2%;

    justify-self: center;
    align-items: center;
    padding: 20px;
    margin: 0 0 10px;
}.body-card.news:hover{
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

/* news-article */


.info-items{
    justify-content: center;
    align-content: center;
}

.info-items.important-certificates img{
    /* width: 1104px; */
    height: var(--important-certificates-height);
}

.page-section .info-items p{
    color: white;
}



.socmed-logo{
    width: 61px;
    height: 61px;
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat; 
}.socmed-logo.fb{
    background-image: url("../img/socmed/fb-logo.png");
}.socmed-logo.twitter-x{
    background-image: url("../img/socmed/twitter-x-logo.png");

}.socmed-logo.instagram{
    background-image: url("../img/socmed/instagram-logo.png");
}.socmed-logo.youtube{
    background-image: url("../img/socmed/youtube-logo.png");
    
}


.section-title, .section-title > h2{
    /* contentview */
    font-size: 32px;
    font-weight: 700!important;
    text-align: center;
    color: white;
    /* background-color: goldenrod; */
    max-width: 100%;
}.section-title.articles, .section-title.articles h2{
    padding-left: 40px;
    text-align: left;
    font-weight: 700;
    background-color: #7E0804;
}.section-title.sdg, .section-title.sdg h2{
    font-weight: 700;
    /* background-color: #002147; */
    background-color: #00AEEF;
    /* background-color: #7E0804; */
}

.page-section .page-header{
    padding-bottom: 8px;
}

.page-section .date h1,
.page-section .date h2{
    font-size: 18px;
}

.page-section .date{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}


/* GALLERY */
.page-section.article .gallery{
    display: grid;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #0069A3;
}
.page-section.article .gallery .img-container{
    display: flex;
    justify-content: center;
    background-color: green;
    cursor: pointer;

}.gallery .img-container img{
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

/*  Currently intended for modal gallery view. Styling for default view, but to view
all image is through modal gallery. No progress yet

NOTE: GALLERY HEIGHT FOR STYLE, remove the specified !important on height to retain default auto height.
Auto height set on default class gallery allows for img-containers to expand height, making img to fit and 
not cut.
REDUNDANT = no use, for note taking incase on specified cell grid specification
*/

/* 1 x 1 - 1 Image styling. 1 x 1*/
.gallery.style-1{
    height: 900px !important;
    width: 700px !important;
    grid-template-columns: 1fr;
}

/* 1 x 2 - 2 Image styling. 1 x 1(W-50%)*/
.gallery.style-2{
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
}

/* 2 x 1 - 2 Image styling. 2(h-50%) x 1*/
.gallery.style-3{
    height: 900px !important;
    width: 700px !important;
    grid-template-rows: repeat(2, 49.5%);
    gap: 1%;
}

/* 1 x 3 - 3 Image styling. 1 x 1(w-33.3%) */
.gallery.style-5 {
    grid-template-columns: repeat(3, 1fr); /* 3 images in a row */
    gap: 1%;
}

/* 2 x 2 - 3 Image styling. image-1 = 2(span 2) x 1, image-2,3 = 2 x 1(H-50%) */
.gallery.style-6{
    height: 600px;
    grid-template-columns: repeat(2, 49.5%); 
    grid-template-rows: repeat(2, 49.5%); 
    gap: 1%;

}.gallery.style-6 .img-container:nth-child(1) { 
    grid-column: 1; /* Only in 1st column */
    grid-row: 1 / span 2; /* Spans 2 rows */
}

/*  //REDUNDANT  
.gallery.style-6 .img-container:nth-child(2) { 
    grid-column: 2; 
    grid-row: 1;   
}

.gallery.style-6 .img-container:nth-child(3) {
    grid-column: 2; 
    grid-row: 2;  
} */


/* 2 x 2 - 3 Image styling. image-1 = 1 x 2(span 2), image-2/3 = 1 X 2(W-50%) */
.gallery.style-7 {
    height: 1200px !important;
    grid-template-columns: repeat(2, 49.5%);   
    grid-template-rows: 49.5%;  
    gap: 1%;
}.gallery.style-7 .img-container:nth-child(1) { /* 448x900 image */
    grid-column: 1 / span 2; /* Spans both columns */
    grid-row: 1 ; /* Occupies the first row */
}

/*  //REDUNDANT  
.gallery.style-7 .img-container:nth-child(2) { 
    grid-column: 1; 
    grid-row: 2;   
}

.gallery.style-7 .img-container:nth-child(3) {
    grid-column: 2; 
    grid-row: 2;   
} */

/* 2 x 2 - 4 image styling. 2x2 equal */
.gallery.style-8 {
    height: 900px !important;
    grid-template-columns: repeat(2, 49.5%);   
    grid-template-rows:  repeat(2, 49.5%);  
    /* grid-template-rows: 450px 450px;   */
    gap: 1%;
}

/* 2 x 2 - 4 image styling. image-1 = 1x3(span), image-2,3,4 = 1x1(w-33%) */
.gallery.style-9 {
    height: 900px !important;
    /* grid-template-columns: 1.5fr 1fr;    */
    grid-template-columns: 59.5% 39.5%;   
    grid-template-rows:  repeat(3, 32.66%);  
    gap: 1%;
}.gallery.style-9 .img-container:nth-child(1) { 
    grid-column: 1 ; 
    grid-row: 1 / span 3; 
}
/* //REDUNDANT 
.gallery.style-9 .img-container:nth-child(2) { 
    grid-column: 2; 
    grid-row: 1; 
}.gallery.style-9 .img-container:nth-child(3) { 
    grid-column: 2; 
    grid-row: 2; 
}.gallery.style-9 .img-container:nth-child(4) { 
    grid-column: 2; 
    grid-row: 3; 
} */

/* 2 x 2 - 4 image styling. image-1 = 1x3(span), image-2,3,4 = 1x1(w-33%) */
.gallery.style-10 {
    height: 900px !important;
    /* grid-template-columns: 1.5fr 1fr;    */
    grid-template-columns: repeat(3, 32.66%);
    grid-template-rows: 59.5% 39.5%;   
    gap: 1%;
}.gallery.style-10 .img-container:nth-child(1) { 
    grid-column: 1 / span 3; 
    grid-row: 1 ; 
}
/*  //REDUNDANT  
.gallery.style-10 .img-container:nth-child(2) { 
    grid-column: 2; 
    grid-row: 1; 
}.gallery.style-10 .img-container:nth-child(3) { 
    grid-column: 2; 
    grid-row: 2; 
}.gallery.style-10 .img-container:nth-child(4) { 
    grid-column: 2; 
    grid-row: 3; 
} */

/* //LIGHTBOX FOR GALLERY VIEW   */
.lightbox {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
}

.slides {
    display: none; /* Hidden by default */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease; /* Smooth transition effect */
}

.active {
    display: block; /* Show the active slide */
    opacity: 1; /* Fade in */
}

.slides.active{
    display: grid;
    place-items: center; 
}

.slides.active img {
    max-width: 100%;
    height: auto;
}

.lightbox .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.lightbox .prev, .lightbox .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.lightbox .prev {
    left: 0;
}

.lightbox .next {
    right: 0;
}

.hidden{
    display: none !important;
}

/* gallery view */



.page-section .page-header h2, 
.page-section .page-header h1{
    color: #7E0804;
    font-size: 22px;
    font-weight: 600;
}   
.page-section .description-card p,
.page-section .description-card ul li{
    list-style-type: circle!important;  
    margin: 0;
}

/* pagination like buttom nav, used on article-view and mor-articles */
.article .pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
}
 
.pagination .col{
    display: flex;
    flex-direction: row;
    gap: 4%;
    align-items: start;
    justify-content: center;
}.pagination .previous div{
    align-items: flex-start;
    text-align: start;
}.pagination .next div{
    align-items: flex-end;
    text-align: end;
}

.col .description .text-container{
    max-width: 70%;
}

.pagination .description h1{
    text-align: start;
    font-size: 18px;
    color: black;
}.pagination .description h2,
.pagination .description h2 a,
.pagination .description .text-container h2 a{
    font-size: 16px;
    color: #7E0804;
}

.more-articles .col{
    align-items: center;
}


.pagination.more-articles{
    justify-content: center;
 
}
.pagination.more-articles .col{
    flex: 0;

}

.pagination.more-articles .description,
.pagination.more-articles h2,
.pagination.more-articles h1,
.pagination.more-articles a {
    align-self: center;
    margin: 0;
    font-size: 18px;
}

/* ddd */
.pagination.more-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.pagination.more-articles a {
    color: #7E0804;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid transparent;
    margin: 0 5px;
}

.pagination.more-articles a.active {
    background-color: yellow; /* Highlight the active page */
    color: #7E0804;
}

.pagination.more-articles a:hover {
    background-color: lightgray; /* Change color on hover */
}

.ellipsis {
    margin: 0 5px; /* Space around ellipsis */
}

.prev, .next {
    font-weight: bold; /* Style for Previous and Next links */
}

.disabled {
    color: gray; /* Change text color to gray */
    pointer-events: none; /* Disable clicks */
    text-decoration: none; /* Remove underline */
    opacity: 0.6; /* Make it look faded */
}
/*  */


.sdg-list{
    /* contentview */
    width: 100%;
    height: var(--sdg-list-height);
    display: flex;
    flex-direction: row;
    /* background-color: lightgoldenrodyellow; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: .6%;
    row-gap: 2%;
    /* padding: 0 40px ; */
    padding: 0 40px 28px 40px;
    /* margin-bottom: 28px; */
    position: relative;

}

.sdg-list .filter-button{
    flex: 0 0 10.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    padding: 6px;
    gap: 4%;
    width: var(--sdg-filter-width);
    height: auto;   
    /* margin-bottom: 1%; */
    position: relative;
}.sdg-list .filter-button:hover{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5)!important;
    transform: scale(1.25);
    transition: 0.3s!important;
    z-index: 2;
    position: relative;
}
.sdg-list .filter-button:hover .icon img{
    transform: scale(.75);
    transition: 0.3s!important;
    z-index: 2;
    position: relative;
}.sdg-list .filter-button:hover .sdg-text img{
    /* background-color: green; */
    /* border-radius: 12%; */
    /* padding: 0px 8px; */
    transform: scale(1.25);
    transition: 0.3s!important;
    z-index: 2;
    position: relative;
}
.sdg-list .filter-button:hover .sdg-text{
    transform: scale(1);
    transition: 0.3s!important;
    z-index: 2;
    position: relative;
}


.filter-button .sdg-text{
    align-self: center;
    margin-right: 4%;
}.filter-button .sdg-text img{
    /* min-height: 38px; */
    height: auto;
}

.filter-button .icon{
    display: flex;
    align-self: center;
   

}.filter-button .icon img{
    max-width: 124px;
    max-height: 76px;
}

.filter-button.sdg-1{
    background-color: var(--sdg-1-background-color);
}.filter-button.sdg-1:hover{
    background-color: var(--sdg-1-hover-background-color);
}.filter-button.sdg-1 .sdg-text img{
    width: var(--sdg-1-text-width); /* 38px height*/
}.filter-button.sdg-1 .icon img{
    width: var(--sdg-1-icon-width); /* 41px height*/
}

.filter-button.sdg-2{
    background-color: var(--sdg-2-background-color);
}.filter-button.sdg-2:hover{
    background-color: var(--sdg-2-hover-background-color);
}.filter-button.sdg-2 .sdg-text img{
    width: var(--sdg-2-text-width); /* 38px height*/
}.filter-button.sdg-2 .icon img{
    width: var(--sdg-2-icon-width) /* 58px height*/
}

.filter-button.sdg-3{
    background-color: var(--sdg-3-background-color);
}.filter-button.sdg-3:hover{
    background-color: var(--sdg-3-hover-background-color);
}.filter-button.sdg-3 .sdg-text img{
    width: var(--sdg-3-text-width) /* 38px height*/
}.filter-button.sdg-3 .icon img{
    width: var(--sdg-3-icon-width) /* 60px height*/
}

.filter-button.sdg-4{
    background-color: var(--sdg-4-background-color);
}.filter-button.sdg-4:hover{
    background-color: var(--sdg-4-hover-background-color);
}.filter-button.sdg-4 .sdg-text img{
    width: var(--sdg-4-text-width) /* 38px height*/
}.filter-button.sdg-4 .icon img{
    width: var(--sdg-4-icon-width) /* 55px height*/
}

.filter-button.sdg-5{
    background-color: var(--sdg-5-background-color);
}.filter-button.sdg-5:hover{
    background-color: var(--sdg-5-hover-background-color);
}


.filter-button.sdg-5 .sdg-text img{
    width: var(--sdg-5-text-width) /* 38px height*/
}.filter-button.sdg-5 .icon img{
    width: var(--sdg-5-icon-width) /* 63.5px height*/
}

.filter-button.sdg-6{
    background-color: var(--sdg-6-background-color);
}.filter-button.sdg-6:hover{
    background-color: var(--sdg-6-hover-background-color);
}.filter-button.sdg-6 .sdg-text img{
    width: var(--sdg-6-text-width) /* 38px height*/
}.filter-button.sdg-6 .icon img{
    width: var(--sdg-6-icon-width) /* 61px height*/
}

.filter-button.sdg-7{
    background-color: var(--sdg-7-background-color);
}.filter-button.sdg-7:hover{
    background-color: var(--sdg-7-hover-background-color);
}.filter-button.sdg-7 .sdg-text img{
    width: var(--sdg-7-text-width) /* 38px height*/
}.filter-button.sdg-7 .icon img{
    width: var(--sdg-7-icon-width) /* 76px height*/
}

.filter-button.sdg-8{
    background-color: var(--sdg-8-background-color);
}.filter-button.sdg-8:hover{
    background-color: var(--sdg-8-hover-background-color);
}.filter-button.sdg-8 .sdg-text img{
    width: var(--sdg-8-text-width) /* 38px height*/
}.filter-button.sdg-8 .icon img{
    width: var(--sdg-8-icon-width) /* 65.5px height*/
}

.filter-button.sdg-9{
    background-color: var(--sdg-9-background-color);
}.filter-button.sdg-9:hover{
    background-color: var(--sdg-9-hover-background-color);
}.filter-button.sdg-9 .sdg-text img{
    width: var(--sdg-9-text-width) /* 38px height*/
}.filter-button.sdg-9 .icon img{
    width: var(--sdg-9-icon-width) /* 65.5px height*/
}

.filter-button.sdg-10{
    background-color: var(--sdg-10-background-color);
}.filter-button.sdg-10:hover{
    background-color: var(--sdg-10-hover-background-color);
}.filter-button.sdg-10 .sdg-text img{
    width: var(--sdg-10-text-width); /* 38px height*/
}.filter-button.sdg-10 .icon img{
    width: var(--sdg-10-icon-width); /* 67px height*/
}

.filter-button.sdg-11{
    background-color: var(--sdg-11-background-color);
}.filter-button.sdg-11:hover{
    background-color: var(--sdg-11-hover-background-color);
}.filter-button.sdg-11 .sdg-text img{
    width: var(--sdg-11-text-width); /* 38px height*/
}.filter-button.sdg-11 .icon img{
    width: var(--sdg-11-icon-width); /* 60px height*/
}

.filter-button.sdg-12{
    background-color: var(--sdg-12-background-color);
}.filter-button.sdg-12:hover{
    background-color: var(--sdg-12-hover-background-color);
}.filter-button.sdg-12 .sdg-text img{
    width: var(--sdg-12-text-width); /* 42px height*/
}.filter-button.sdg-12 .icon img{
    width: var(--sdg-12-icon-width); /* 41px height*/
}

.filter-button.sdg-13{
    background-color: var(--sdg-13-background-color);
}.filter-button.sdg-13:hover{
    background-color: var(--sdg-13-hover-background-color);
}.filter-button.sdg-13 .sdg-text img{
    width: var(--sdg-13-text-width); /* 38px height*/
}.filter-button.sdg-13 .icon img{
    width: var(--sdg-13-icon-width); /* 49px height*/
}

.filter-button.sdg-14{
    background-color: var(--sdg-14-background-color);
}.filter-button.sdg-14:hover{
    background-color: var(--sdg-14-hover-background-color);
}.filter-button.sdg-14 .sdg-text img{
    width: var(--sdg-14-text-width);/* 38px height*/
}.filter-button.sdg-14 .icon img{
    width: var(--sdg-14-icon-width); /* 60px height*/
}

.filter-button.sdg-15{
    background-color: var(--sdg-15-background-color);
}.filter-button.sdg-15:hover{
    background-color: var(--sdg-15-hover-background-color);
}.filter-button.sdg-15 .sdg-text img{
    width: var(--sdg-15-text-width); /* 38px height*/
}.filter-button.sdg-15 .icon img{
    width: var(--sdg-15-icon-width); /* 62px height*/
}

.filter-button.sdg-16{
    background-color: var(--sdg-16-background-color);
}.filter-button.sdg-16:hover{
    background-color: var(--sdg-16-hover-background-color);
}.filter-button.sdg-16 .sdg-text img{
    width: var(--sdg-16-text-width); /* 42px height*/
}.filter-button.sdg-16 .icon img{
    width: var(--sdg-16-icon-width); /* 57px height*/
}

.filter-button.sdg-17{
    background-color: var(--sdg-17-background-color);
}.filter-button.sdg-17:hover{
    background-color: var(--sdg-17-hover-background-color);
}.filter-button.sdg-17 .sdg-text img{
    width: var(--sdg-17-text-width); /* 38px height*/
}.filter-button.sdg-17 .icon img{
    width: var(--sdg-17-icon-width); /* 62.5px height*/
}

.filter-button.sdg-goals{
    background-color: var(--sdg-goals-background-color);
    justify-content: center;
}.filter-button.sdg-goals .sdg-text img{
    width: var(--sdg-goals-text-width); /* 38px height*/
}.filter-button.sdg-goals .icon img{
    width: var(--sdg-goals-icon-width); /* 34px height*/
}


/* .sdg-text > h1, .sdg-text > h2, .sdg-text > h3, .sdg-text > h4, .sdg-text > h5,  .sdg-text > p, .sdg-text > a{
    font-weight: 700;
    letter-spacing: -.05em;
}.sdg-text h1{
    font-size: var(--sdg-text-h1-font-size);
}.sdg-text > h2, .sdg-text > h3,  .sdg-text > h4, .sdg-text > h5, .sdg-text > p, .sdg-text > a{
    white-space: nowrap;
    font-size: 13px;
} */


.news-list{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    gap: 20px;
    margin: 0 0 20px 0;
}



#news-1{
    background-image: url("../img/article-1.png");
    background-size: cover;    
    /* justify-content: space-between; */
    /* background-color: #00a6ff; */
    background-position: center; 
    background-repeat: no-repeat; 
}
#news-2{
    background-image: url("../img/article-2.png");
    background-size: cover;    
    /* justify-content: space-between; */
    /* background-color: #00a6ff; */
    background-position: center; 
    background-repeat: no-repeat; 
}
#news-3{
    background-image: url("../img/article-3.png");
    background-size: cover;    
    /* justify-content: space-between; */
    /* background-color: #00a6ff; */
    background-position: center; 
    background-repeat: no-repeat; 
}
#news-4{
    background-image: url("../img/article-4.png");
    background-size: cover;    
    /* justify-content: space-between; */
    /* background-color: #00a6ff; */
    background-position: center; 
    background-repeat: no-repeat; 
}

.news-list .news-article{ 
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: auto;
    padding: 20px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.556);
    background-color: white;
    /* border: 1px solid red; */    
    border-radius: 2%;
}.news-list .news-article:hover{
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}


.articles .article-list{
    /* contentview */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-color: lightseagreen; */
    justify-content: center;
    gap: 1%;
}   

.article-list .article{
    /* contentview */
    /* flex: 1; */
    /* flex: 1 1 10%; */
    display: flex;
    flex-direction: column;
    /* background-color: lightskyblue; */
    padding: 14px;
    border: solid #D8D8D8 1px ;
    gap: 12px;
    justify-content: flex-start;
    align-items: center;
}.article-list .article:hover{
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}




.article-list.more-articles{
    display: flex;
    justify-content: flex-end;
}.article-list.more-articles .more-articles-link .more-articles-button{
    width: auto;
    background-color: #7E0804;
    padding: 20px;
    border-radius: 4%;
}

.article-list.more-articles .more-articles-link {
    animation: hop 8s ease-in-out infinite; 
    transition: transform 0.3s ease-in-out;
}

.article-list.more-articles .more-articles-link:hover{
    transform: translateY(-20px);
    border-radius: 4%;

}


.more-articles .more-articles-link .more-articles-button h2{
    font-size: 18px;
    color: white;
}

@keyframes hop {
    0%, 30% {
        transform: translateY(0); /* Start at original position for 1.2 seconds */
    }
    50% {
        transform: translateY(-20px); /* Move up 20px at 4 seconds */
    }
    85%, 100% {
        transform: translateY(0); /* Back to original position for the remainder of the time */
    }
}

#article-1{
    background-image: url("../img/article-1.png");
    background-size: cover;    
    /* justify-content: space-between; */
    /* background-color: #00a6ff; */
    background-position: center; 
    background-repeat: no-repeat; 
}
#article-2{
    background-image: url("../img/article-2.png");
    background-size: cover;    
    /* justify-content: space-between; */
    /* background-color: #00a6ff; */
    background-position: center; 
    background-repeat: no-repeat; 
}
#article-3{
    background-image: url("../img/article-3.png");
    background-size: cover;    
    /* justify-content: space-between; */
    /* background-color: #00a6ff; */
    background-position: center; 
    background-repeat: no-repeat; 
}
#article-4{
    background-image: url("../img/article-4.png");
    background-size: cover;    
    /* justify-content: space-between; */
    /* background-color: #00a6ff; */
    background-position: center; 
    background-repeat: no-repeat; 
}



.main-info.articles{
    /* contentview */
    display: flex;
    flex-direction: column;
    /* background-color: lightcoral; */
    gap: 12px;
    height: auto;
    max-width: var(--img-card-s-width);
    /* max-width: 280px; */
}

.tag.articles{
    /* contentview */
    display: flex;
    flex-direction: column;
    /* background-color: lightsalmon; */
    max-width: var(--img-card-s-width);
    /* max-width: 280px; */
    align-self: flex-start;
}

.tag.articles .title-card{
    width: fit-content;
    font-size: 18px;
}.tag.articles .title-card p{
    color: #9F9F9F;
    font-weight: 400;
}



.label-tags{
    display: flex;
    flex-direction: row;
    max-width: 90%;
    flex-wrap: wrap;
    padding: 8px 0;
    gap: 6px;
}



.sdg-label{
    display: flex;
    /* contentview */
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* background-color: darkblue; */
    width: 34px;
    height: 28px!important;

    border-radius: 8%;
    color: white
}

.sdg-label.sdg-1{
    background-color:var(--sdg-1-background-color);
}

.sdg-label.sdg-2{
    background-color:var(--sdg-2-background-color);
}.sdg-label.sdg-3{
    background-color:var(--sdg-3-background-color);
}.sdg-label.sdg-4{
    background-color:var(--sdg-4-background-color);
}.sdg-label.sdg-5{
    background-color:var(--sdg-5-background-color);
}.sdg-label.sdg-6{
    background-color:var(--sdg-6-background-color);
}.sdg-label.sdg-7{
    background-color:var(--sdg-7-background-color);
}.sdg-label.sdg-8{
    background-color:var(--sdg-8-background-color);
}.sdg-label.sdg-9{
    background-color:var(--sdg-9-background-color);
}.sdg-label.sdg-10{
    background-color:var(--sdg-10-background-color);
}.sdg-label.sdg-11{
    background-color:var(--sdg-11-background-color);
}.sdg-label.sdg-12{
    background-color:var(--sdg-12-background-color);
}.sdg-label.sdg-13{
    background-color:var(--sdg-13-background-color);
}.sdg-label.sdg-14{
    background-color:var(--sdg-14-background-color);
}.sdg-label.sdg-15{
    background-color:var(--sdg-15-background-color);
}.sdg-label.sdg-16{
    background-color:var(--sdg-16-background-color);
}.sdg-label.sdg-17{
    background-color:var(--sdg-17-background-color);
}

/* min-height: calc(100vh - var(--topbar-height)); */


.img-card{
    /* contentview */
    display: flex;
    border-radius: 4%;
    /* background-color: #a1a9b1; */
    flex-shrink: 0;
}

.img-card.b, .img-card-link.b{
    /* width: 608px;
    height: 400px; */
    border-radius: 20px;
    width: var(--img-card-b-width);
    height: var(--img-card-b-height);
    background-color: green;
    overflow: hidden;
}

.img-card.s, .img-card-link.s{
    border-radius: 20px;
    width: var(--img-card-s-width);
    height: var(--img-card-s-height);
    background-color: green;
    overflow: hidden;
}


.img-card.b img, .img-card.s img{
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

.description-card{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.description-card.latest{
    /* max-width: 608px !important; */
    max-width: var(--img-card-b-width)!important;
    gap: 10px;
    padding: 15px 0;
}.description-card.latest h2{
    font-size: var(--description-1-h2-font-size);
    font-weight: var(--description-h2-font-weight);
}

/* img-card */
.description-card.news{
    max-width: var(--img-card-s-width);
    font-size: 18px !important;
    gap: 14px;
}

.description-card.articles{
    max-width: var(--img-card-s-width);
    font-size: 18px !important;
    gap: 14px;
}

.description-card .date{
    width: fit-content;
    padding: 12px;
    border-radius: 4%;
    border: solid #D9D9D9 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}.description-card .date p{
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
}

.w-100{
    width: auto !important;
}



.header-card h1{
    font-size: 32px;
}

.description-card h2{
    font-size: var(--description-2-h2-font-size);
    font-weight: var(--description-h2-font-weight);
}


.max-w-full {
    max-width: 100% !important;
}
/* --------------------------------------------------------------------------- */

.text-small {
    font-size: 0.875rem;          /* Set font size to small */
}

.sidebar-button-text{
    font-size: var(--sidebar-text-font-size) !important;
    font-weight: var(--sidebar-text-font-weight) !important;
    color:white;
    padding: 20px;
}

.btn{
    text-wrap: nowrap;
    color: var(--btn-color);
    border-color: var(--btn-border-color);
    border-radius: var(--btn-border-radius-sm)!important;
    padding: var(--btn-padding-y) var(--btn-padding-x)!important;
    font-size: var(--btn-font-size) !important;
}.btn:hover{
    background-color: var(--btn-hover-background-color);
}



.add{
    background-color: green;
}.add:hover{
    background-color: darkgreen; 
}   

.edit{
    background-color:  #00a6ff;
}.edit:hover{
    background-color: #007acc;
}.edit a{
    color: white !important;
}

.delete{
    background-color: red;
}.delete:hover{
    background-color: darkred; /* Darker red on hover */
}.delete a{
    color: white !important;
}







table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}
thead {
    background-color: #f9f9f9; /* Optional: give the header a different background */
}

.indented {
    text-indent: 30px; 
}

.add-section{
    display: flex;
    flex-direction: row;
    gap: 4%;
}

.modal-feed{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.alert-box{
    display: flex;
    position: fixed; /* Fixed positioning */
    justify-content: center;
    text-align: center;

    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for element size */
    background-color: rgba(255, 204, 0, 0.9); /* Semi-transparent background */
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-items: center;
    z-index: 1000; 
}

.confirm{
    background-color: green !important;
}
.cancel{
    background-color: red!important;
}

.modalEditBox{
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.edit-modal{
    display: flex;
    position: fixed; /* Fixed positioning */
    justify-content: center;
    text-align: center;

    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for element size */
    background-color: whitesmoke; /* Semi-transparent background */
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-items: center;
    z-index: 1000; 

}

 
/* media */

/* 
    --page-margin-width: 120px;
    --hero-banner-height: 420px;
    --img-card-b-width: 580px;
    --img-card-b-height: 387px;

    --img-card-s-width: 277px;
    --img-card-s-height: 208px;
    --description-2-h2-font-size: 16px;
    --description-1-h2-font-size: 18px;
    --description-h2-font-weight: 600;

*/

       /* --img-card-b-width: calc(486.4px * 1.25)!important;
        --img-card-b-height: calc(320px * 1.25)!important;

        --img-card-s-width: calc(280px * 1.25)!important;
        --img-card-s-height: calc(190px * 1.25)!important; */




@media screen and (min-width: 1600px) and (max-width: 1920px){
    :root{
        --page-margin-width: 140px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 1600px){
    :root{
        --page-margin-width: 80px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1440px){
    :root{
        --page-margin-width: 80px;
        --hero-banner-height: calc(420px * .85);
        --img-card-b-width: 400px;
        --img-card-b-height: 267px;
        --img-card-s-width: 240px;
        --img-card-s-height: 160px;

        --sdg-filter-width: calc(140px * 0.85);
        --sdg-filter-height: calc(140px * 0.85);
        --sdg-list-height: auto;

    }
    /* FOR ARCHIVES */
    :root{
        --archive-vector-width: 363px ;
        --archive-vector-height: 148.5px;
        --archives-page-section-justify-content: center;
        /* --archive-vector-width: 460px ;
        --archive-vector-height: 195px; */
        --month-list-width: calc( 634px * 0.8);
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px){
    :root{
        --page-margin-width: 30px;
        --hero-banner-height: calc(420px * .8);
        /* --hero-banner-height: 280px; */
        --img-card-b-width: 400px;
        --img-card-b-height: 267px;
        --img-card-s-width: 240px;
        --img-card-s-height: 160px;
    
        --sdg-filter-width: calc(140px * 0.8);
        --sdg-filter-height: calc(140px * 0.8);


        --sdg-list-height: calc(var(--og-sdg-list-height) * 0.8);
        --sdg-1-text-width: calc(var(--og-sdg-1-text-width) * 0.8);
        --sdg-1-icon-width: calc(var(--og-sdg-1-icon-width) * 0.8);

    }
    :root{
        /* FOR ARCHIVES */
        --archive-vector-width: calc(460px * 0.75);
        --archive-vector-height: calc(195px * 0.75);
        --archives-page-section-justify-content: center;
        /* --archive-vector-width: 242px;
        --archive-vector-height: 99px; */
        --month-list-width: calc(800px * 0.6);
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    :root{
        --page-margin-width: 30px;
        --hero-banner-height: 280px;
        --img-card-b-width: 400px;
        --img-card-b-height: 267px;
        --img-card-s-width: 240px;
        --img-card-s-height: 160px;
        

        --important-certificates-height: calc(var(--og-important-certificates-height) * .75);


        /* --sdg-filter-width: calc(140px * 0.6);
        --sdg-filter-height: calc(140px * 0.6); */

        /* --sdg-list-height: calc(var(--og-sdg-list-height) * 0.6); */
        --sdg-list-height: auto;
        /* --sdg-1-text-width: calc(var(--og-sdg-1-text-width) * 0.6);
        --sdg-1-icon-width: calc(var(--og-sdg-1-icon-width) * 0.6);  */
    }

    .page-section.news{
        gap: 20px;
        padding: 0 10px;
    }

    .article-list .article{
        flex: 1 1 45%;
        align-items: center;
        margin: 0 10px;
    }

    .article .main-info .img-card.s{
        width: var(--img-card-b-width);
        height: var(--img-card-b-height);
    }

    .description-card.articles{
        max-width: var(--img-card-b-width)!important;
        
    }
    
    .main-info.articles{
        max-width: var(--img-card-b-width)!important;
    }

    .tag.articles{
        max-width: var(--img-card-b-width)!important;
    }

    .sdg-list .filter-button{
        flex: 0 0 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* align-items: center; */
        /* align-content: center; */

        gap: 10%;
        height: 120px;   
        position: relative;
    }

    .filter-button .sdg-text{
        transform: scale(1.5);
        transform-origin: left;
        margin-left: 20px;
    }
    .filter-button .icon img{
        transform: scale(1.5);
        transform-origin: right;
        margin-right: 20px;
    }

  
    .sdg-list .filter-button:hover .icon img{
        transform: scale(1.25);
        transform-origin: right;
        transition: 0.3s!important;
        z-index: 2;
        position: relative;
    }.sdg-list .filter-button:hover .sdg-text img{
        /* background-color: green; */
        /* border-radius: 12%; */
        /* padding: 0px 8px; */
        transform: scale(2);
        transform-origin: left;
        transition: 0.3s!important;
        z-index: 2;
        position: relative;
    }
    .sdg-list .filter-button:hover .sdg-text{
        transform: scale(1);
        transition: 0.3s!important;
        z-index: 2;
        position: relative;
    }


    :root{
        /* FOR ARCHIVES */
        /* --archive-vector-width: 242px;
        --archive-vector-height: 99px; */
        --archive-vector-width: calc(460px * 0.5);
        --archive-vector-height: calc(195px * 0.5);
    }
}

@media screen and (min-width: 960px) and (max-width: 1024px){
    .filter-button.sdg-goals .sdg-text img{
        transform: scale(.9);
        transform-origin: left;
    }

    .filter-button.sdg-goals .icon img, .filter-button.sdg-goals .icon{
        transform: scale(1);
        transform-origin: left;
    }

    .sdg-list .filter-button:hover .sdg-text img{
        /* background-color: green; */
        /* border-radius: 12%; */
        /* padding: 0px 8px; */
        transform: scale(1.5);
        transform-origin: left;
        transition: 0.3s!important;
        z-index: 2;
        position: relative;
    }


}



@media screen and (min-width: 768px) and (max-width: 960px){
    :root{
        /* --sdg-filter-width: calc(140px * 0.7);
        --sdg-filter-height: calc(140px * 0.7); */
        --hero-banner-height: 240px;
    }

  
    .page-section.news{
        flex-direction: column;
    }
    
    .page-section.news .body-card.news{
        flex-direction: row;
        gap: 2%;
    }

    .filter-button .sdg-text{
        transform: scale(1.4);
        transform-origin: left;
        margin-left: 20px;
    }
    .filter-button .icon img{
        transform: scale(1);
        transform-origin: right;
        margin-right: 5px;
    }

    .filter-button.sdg-goals .sdg-text img{
        transform: scale(.75);
        transform-origin: left;
    }

    .filter-button.sdg-goals .icon img, .filter-button.sdg-goals .icon{
        transform: scale(.85);
        transform-origin: left;
    }

    /* .sdg-list .filter-button{
        flex: 0 0 14%;  
        height: 120px;        
    } */

    .sdg-list .filter-button:hover .sdg-text img{
        /* background-color: green; */
        /* border-radius: 12%; */
        /* padding: 0px 8px; */
        transform: scale(1.15);
        transform-origin: left;
        transition: 0.3s!important;
        z-index: 2;
        position: relative;
    }.sdg-list .filter-button:hover .icon img{
        transform: scale(1.25);
        transform-origin: right;
        transition: 0.3s!important;
        z-index: 2;
        position: relative;
    }
    /* .sdg-list .filter-button:hover .sdg-text{
        transform: scale(1);
        transition: 0.3s!important;
        z-index: 2;
        position: relative;
    } */

    /* ARCHIVES */
    :root{
        --archives-page-section-flex-direction: column;
    }

}

@media screen and (min-width: 768px) and (max-width: 800px){
    /* .sdg-list .filter-button{  
        height: 100px;        
    } */
}

